<nav>
    <div><img class="adult" src="https://images.unsplash.com/photo-1562040506-a9b32cb51b94?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dGVkZHklMjBiZWFyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="adult img"></div>
    <ul>
        <li><a href="/profileAdmin">Home</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>