<h2>This is your Admin Profile {{user.username}}</h2>

{{#each childrenList}}
<div><a href="/child/{{_id}}">{{alias}}</a></div>
  

{{/each}}





<div><a href="/addClassroom">Add a Classroom</a></div>
<div><a href="/addChild">Add a Child</a></div>
<a href="/logout">Logout</a>