<h2>Hello User register Here</h2>

<form action="/signup" method="POST">

<label for="username">Username</label>
<input type="text" name="username" id="username">

<label for="password">Password</label>
<input type="text" name="password" id="password">

<label for="role">Role</label>
<input type="text" name="role" id="role">

{{!-- <select id="role">
    <option value="admin">admin</option>
    <option value="parent">parent</option>
    <option value="teacher">teacher</option>
</select> --}}

<h2>Personal Information</h2>

<label for="firstname">Firstname</label>
<input type="text" name="firstname" id="firstname">

<label for="lastname">Lastname</label>
<input type="text" name="lastname" id="lastname">

<h2>Address</h2>

<label for="street">Street</label>
<input type="text" name="street" id="street">



<button type="submit">Create a new User</button>

</form>

{{message}}