

body {
  margin: 0;
  padding: 0;
  background-color:darkseagreen;
  background-image: url(https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNvbG9yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
  background-size: cover;
  background-position: center;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */

html {
  font-size: 2vw;
}

h1 {
  font-size: 3em;
  color:darkslateblue;
}

h2 {
  font-size: 2em;
  color:green;
}

.adult,
.kid {
  height: 4em;
  padding: 1em;
  border-radius: 10em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.index-signin {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* #log-sign {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 5em;
} */

nav {
  background-color: #2081c3;
  border-radius: 1.5em;
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  color: #f7f9f9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

nav > ul > li {
  color: #f7f9f9;
  font-size: smaller;
  text-decoration: none;
  list-style: none;
  padding: 0 2em;
}

nav > ul > li > a {
  text-decoration: none;
}

#canvas {
  background:rgb(187, 221, 221);
  width: 60%;
  height: 70%;
  padding: 10vh;
  border-radius: 1em;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#status {
  font-weight: 900;
  color: darkmagenta;
}

#user-in {
  font-weight: 900;
}

.kid-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.every-child {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1em;
}

a:link {
  text-decoration: none;
}
 a:hover {
   text-decoration: underline;
}

/* :link — :visited — :hover — :active. */

